// app global css in SCSS form
@font-face {
  font-family: opensans;
  src: url(./fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: ptserif;
  src: url(./fonts/PTSerif-Regular.ttf);
}

.my-font {
  font-family: 'opensans';
}

.serif-font {
  font-family: ptserif;
}
